.search-form{
  label {
    display: inline-block;
    width: calc(100% - 74px);
  }

  input[type="search"] {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .12);

    &::placeholder {
      color: rgba(0, 0, 0, .87);
    }
  }

  .search-submit {
    background-color: $color__primary;
    color: $color__primary-content;
    border: none;
    padding: 16px 15px;
  }
}

.site-sidebar{
  .search-form{
    position: relative;
    border-radius: 30px;
    background-color: rgba(255,255,255,.1);

    label {
      display: inline-block;
      width: calc(100% - 44px);
    }

    input[type="search"] {
      display: block;
      width: 100%;
      padding: 15px;
      border: none;
      background: transparent;
      color: rgba(255,255,255,.87);
      outline: none;

      &::placeholder {
        color: rgba(255,255,255,.5);
      }
    }

    .search-submit {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 44px;
      padding: 0;
      outline: none;
    }
  }
}
