.site-sidebar{
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;

	visibility: hidden;
	opacity: 0;
	transform: translateX(-50%);

	transition: all .6s cubic-bezier(0,0,.21,1);

	max-height: 100vh;
	height: 100%;
	max-width: 70vw;
	min-width: 260px;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 50;
	-webkit-overflow-scrolling: touch;
	will-change: transform;

	color: #fff;

	filter: blur(10px);

	> .main-navigation:only-child{
		margin-top: auto;
		margin-bottom: auto;
	}

	> .widget-area:first-child{
		margin-bottom: auto;
	}

	> .widget-area:last-child{
		margin-top: auto;
	}

	h1, h2, h3, h4, h5, h6{
		color: #fff;
	}


	&[side="right"]{
		left: auto;
		right: 0;
		transform: translateX(100%);
	}

	.site-sidebar-toggle{
		color: #FFF;
		position: absolute;
		top: 20px;
		right: 15px;
		background-color: transparent;
		border: none;
		outline: none;
	}

	.site-sidebar-top{
		min-height: 57px;

		img{
			width: 60px;
			border-radius: 50%;
			margin-bottom: 5px;
		}

		h3, h5{
			margin: 0;
			color: inherit;
		}

		h5{
			opacity: .57;
		}
	}

	.sidebar-box{
		padding: 17px 20px;
	}

	.widget-area{
		width: 100%;
	}
}

.site-sidebar-tint{
	position: fixed;
	z-index: 2147483646;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	visibility: hidden;

	background-color: rgba(0,0,0,.54);
}

[sidebar-opened]{
	.site-sidebar{
		visibility: visible;
		opacity: 1;
		transform: translateX(0);

		transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);

		filter: blur(0);

		& + .site-sidebar-tint{
			//visibility: visible;
		}
	}

	#page{
		border-radius: 20px;
		transform: scale(0.8) translate3d(80%, 0, 0);

		transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1), border-radius 0.6s cubic-bezier(0.83, 0, 0.17, 1);
	}
}

.linna-author-widget{

	&:after{
		content: '';
		display: block;
		clear: both;
	}

	img{
		border-radius: 50%;
		height: auto;
		max-width: 45px;
		float: left;
		margin-right: 10px;
	}

	img + h4{
		margin-top: 4px;
	}

	img + h5{
		margin-top: 4px;
	}

	h4,h5{
		line-height: 1.4;
		margin: 0;
		display: block;
	}

	h5{
		opacity: .54;
	}
}
