.main-navigation{
  width: 100%;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li{
    position: relative;

    button{
      outline: none;
    }

    &.menu-item-has-children{
      > a{
        padding-right: 40px;
      }
    }

    .submenu-expand{
      background-color: transparent;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 51px;
      width: 40px;

      svg{
        width: 18px;
        height: 18px;
      }
    }

    &.current-menu-item{
      > a {
        font-weight: 600;
      }

      .menu-icon-wrapper{
        &:before{
          background: #1BD5A9;
        }
      }
    }

    a{
      padding: 17px 20px 17px 0;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 500;
      display: block;
      text-transform: uppercase;

      &:focus{
        outline: none;
      }

      + button{
        color: #fff;
      }

      &[aria-expanded="true"]{
        //background-color: rgba(0,0,0,.06);
        //color: $color__primary;
        font-weight: 600;

        + button{
          //color: $color__primary;
          transform-origin: center center;
          transform: rotate(180deg);
        }

        ~ ul{
          display: block;
        }
      }

      .menu-icon-wrapper{
        color: inherit;
        fill: currentColor;
        width: 17px;
        height: 17px;
        vertical-align: middle;
        margin-right: 30px;
        margin-left: 30px;
        display: inline-block;
        position: relative;

        &:before{
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          display: block;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          z-index: -1;
        }

        svg{
          max-width: 100%;
          max-height: 100%;
        }
      }

      span{
        vertical-align: middle;
      }
    }

    ul{
      display: none;

      a{
        padding-left: 77px;
      }
    }
  }
}
