.site-primary-bg{
  background-color: $color__primary;
  color: $color__primary-content;
}

.site-float-left{
  float: left;
}

.site-float-right{
  float: right;
}

.site-divider{
  height: 1px;
  background: rgba(0,0,0,.12);
  margin: 13px 0;
}

.site-content{
  padding-top: 20px;
}

#page .site-content{
  padding-top: 0;
}

html,body{
  overflow: hidden;
}

html,body,#virtual-body{width: 100%;height: 100%}

#virtual-body{
  background: rgb(100,90,255);
  background: linear-gradient(342deg, rgba(100,90,255,1) 0%, rgba(165,115,255,1) 100%);
  overflow: auto;
}

#page{
  background-color: #FFF;
  overflow: auto;
  max-height: 100%;
  min-height: 100%;
  z-index: 100;
  position: relative;

  transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1), border-radius 0.3s cubic-bezier(0.83, 0, 0.17, 1), opacity 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}

.page-header{
  .page-description,
  .page-title{
    display: inline-block;
    margin-top: 0;
  }
}

.site-overflow-hidden{
  .elementor-column-wrap{
    overflow: hidden;
  }
}
