.linna-page-loading {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-linna-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-linna-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-linna-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-linna-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-linna-flex-align: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999999;

	background: rgb(100,90,255);
	background: linear-gradient(342deg, rgba(100,90,255,1) 0%, rgba(165,115,255,1) 100%);

	opacity: 1;
	visibility: visible;
	-webkit-transition: all .15s ease-in;
	transition: all .15s ease-in;
}

body.loading-screen-enabled{
	#page{
		transform: scale(1.17);
		-webkit-transition: transform .15s ease-in;
		transition: transform .15s ease-in;
	}

	&.linna-loading-finished{
		#page{
			transform: scale(1);
		}
	}
}

body[sidebar-opened]{
	&.loading-screen-enabled{
		#page{
			transform: scale(0.7) translate3d(95%, 0, 0);
		}
	}
}

.linna-loading-finished {
	.linna-page-loading {
		opacity: 0;
		visibility: hidden;
		transform: scale(.97);
	}
}

.linna-page-loading.show-always{
	opacity: 1 !important;
	visibility: visible !important;
}

.linna-page-loading .site-logo{
	position: absolute;
	left: 50%;
	top: 30px;
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
	width: auto;
	color: #FFF;
}

.linna-page-loading .sub-text{
	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 0;
	right: 0;
	color: #FFF;
	opacity: .54;
	font-size: 12px;
}

.linna-loading-waves{
	width: 100%;
	height: 22em;
	max-height: 100vh;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	svg{
		height: 100%;
	}

	.linna-loading-waves-parallax{
		color: #FFF;

		> use{
			animation:move-forever 12s linear infinite;
			&:nth-child(1){animation-delay:-2s; fill: currentColor; opacity: .07}
			&:nth-child(2){animation-delay:-2s; animation-duration:5s; fill: currentColor; opacity: .14}
			&:nth-child(3){animation-delay:-4s; animation-duration:3s; fill: currentColor; opacity: .21}
		}
	}
}

@keyframes move-forever{
	0%{transform: translate(-90px , 0%)}
	100%{transform: translate(85px , 0%)}
}

.linna-loading-1 {
	width: 40px;
	height: 40px;
	background-color: #fff;

	-webkit-animation: linna-loading-1 1.2s infinite ease-in-out;
	animation: linna-loading-1 1.2s infinite ease-in-out;
}

@-webkit-keyframes linna-loading-1 {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes linna-loading-1 {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	  } 100% {
		    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    }
}

.linna-loading-2 {
	width: 40px;
	height: 40px;
	position: relative;
}

.linna-loading-2 .double-bounce1,
.linna-loading-2 .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: linna-loading-2 2.0s infinite ease-in-out;
	animation: linna-loading-2 2.0s infinite ease-in-out;
}

.linna-loading-2 .double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes linna-loading-2 {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes linna-loading-2 {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

.linna-loading-3 {
	width: 43px;
	height: 60px;
	text-align: center;
	font-size: 10px;
}

.linna-loading-3 > div {
	background-color: #fff;
	height: 100%;
	width: 7px;
	display: block;
	float: left;

	-webkit-animation: linna-loading-3 1.2s infinite ease-in-out;
	animation: linna-loading-3 1.2s infinite ease-in-out;
}

.linna-loading-3 > div:not(:last-child){
	margin-right: 2px;
}

.linna-loading-3 .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.linna-loading-3 .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.linna-loading-3 .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.linna-loading-3 .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes linna-loading-3 {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes linna-loading-3 {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}

.linna-loading-4 {
	width: 40px;
	height: 40px;
	position: relative;
}

.linna-loading-4 .cube1,
.linna-loading-4 .cube2 {
	background-color: #fff;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: linna-loading-4 1.8s infinite ease-in-out;
	animation: linna-loading-4 1.8s infinite ease-in-out;
}

.linna-loading-4 .cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes linna-loading-4 {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes linna-loading-4 {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		  transform: translateX(42px) translateY(42px) rotate(-179deg);
		  -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	  } 50.1% {
		    transform: translateX(42px) translateY(42px) rotate(-180deg);
		    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	    } 75% {
		      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	      } 100% {
		        transform: rotate(-360deg);
		        -webkit-transform: rotate(-360deg);
	        }
}

.linna-loading-5 {
	width: 40px;
	height: 40px;
	background-color: #fff;

	border-radius: 100%;
	-webkit-animation: linna-loading-5 1.0s infinite ease-in-out;
	animation: linna-loading-5 1.0s infinite ease-in-out;
}

@-webkit-keyframes linna-loading-5 {
	0% { -webkit-transform: scale(0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes linna-loading-5 {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 100% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
		  opacity: 0;
	  }
}

.linna-loading-6 {
	width: 60px;
	height: 60px;
	position: relative;
	text-align: center;

	-webkit-animation: linna-loading-6-sk-rotate 2.0s infinite linear;
	animation:  linna-loading-6-sk-rotate 2.0s infinite linear;
}

.linna-loading-6 .dot1,
.linna-loading-6 .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #fff;
	border-radius: 100%;

	-webkit-animation: linna-loading-6-sk-bounce 2.0s infinite ease-in-out;
	animation: linna-loading-6-sk-bounce 2.0s infinite ease-in-out;
}

.linna-loading-6 .dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes linna-loading-6-sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes linna-loading-6-sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes linna-loading-6-sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes linna-loading-6-sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

.linna-loading-7 {
	width: 70px;
	text-align: center;
}

.linna-loading-7 > div {
	width: 18px;
	height: 18px;
	background-color: #fff;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: linna-loading-7 1.4s infinite ease-in-out both;
	animation: linna-loading-7 1.4s infinite ease-in-out both;
}

.linna-loading-7 .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.linna-loading-7 .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes linna-loading-7 {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes linna-loading-7 {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
	  }
}

.linna-loading-8 {
	width: 60px;
	height: 60px;
	position: relative;
}
.linna-loading-8 .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.linna-loading-8 .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.linna-loading-8 .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-linna-transform: rotate(30deg);
	transform: rotate(30deg); }
.linna-loading-8 .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-linna-transform: rotate(60deg);
	transform: rotate(60deg); }
.linna-loading-8 .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-linna-transform: rotate(90deg);
	transform: rotate(90deg); }
.linna-loading-8 .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-linna-transform: rotate(120deg);
	transform: rotate(120deg); }
.linna-loading-8 .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-linna-transform: rotate(150deg);
	transform: rotate(150deg); }
.linna-loading-8 .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-linna-transform: rotate(180deg);
	transform: rotate(180deg); }
.linna-loading-8 .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-linna-transform: rotate(210deg);
	transform: rotate(210deg); }
.linna-loading-8 .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-linna-transform: rotate(240deg);
	transform: rotate(240deg); }
.linna-loading-8 .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-linna-transform: rotate(270deg);
	transform: rotate(270deg); }
.linna-loading-8 .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-linna-transform: rotate(300deg);
	transform: rotate(300deg); }
.linna-loading-8 .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-linna-transform: rotate(330deg);
	transform: rotate(330deg); }
.linna-loading-8 .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s; }
.linna-loading-8 .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s; }
.linna-loading-8 .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s; }
.linna-loading-8 .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s; }
.linna-loading-8 .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s; }
.linna-loading-8 .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s; }
.linna-loading-8 .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s; }
.linna-loading-8 .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s; }
.linna-loading-8 .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s; }
.linna-loading-8 .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s; }
.linna-loading-8 .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

@keyframes sk-circleBounceDelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1);
		  transform: scale(1);
	  }
}

.linna-loading-9 {
	width: 60px;
	height: 60px;
}

.linna-loading-9 .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #fff;
	float: left;
	-webkit-animation: linna-loading-9 1.3s infinite ease-in-out;
	animation: linna-loading-9 1.3s infinite ease-in-out;
}
.linna-loading-9 .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s; }
.linna-loading-9 .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s; }
.linna-loading-9 .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s; }
.linna-loading-9 .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s; }
.linna-loading-9 .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s; }
.linna-loading-9 .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s; }
.linna-loading-9 .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s; }
.linna-loading-9 .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s; }
.linna-loading-9 .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s; }

@-webkit-keyframes linna-loading-9 {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	} 35% {
		  -webkit-transform: scale3D(0, 0, 1);
		  transform: scale3D(0, 0, 1);
	  }
}

@keyframes linna-loading-9 {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	} 35% {
		  -webkit-transform: scale3D(0, 0, 1);
		  transform: scale3D(0, 0, 1);
	  }
}

.linna-loading-10 {
	width: 60px;
	height: 60px;
	position: relative;
}

.linna-loading-10 .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.linna-loading-10 .sk-circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: linna-loading-10 1.2s infinite ease-in-out both;
	animation: linna-loading-10 1.2s infinite ease-in-out both;
}
.linna-loading-10 .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-linna-transform: rotate(30deg);
	transform: rotate(30deg);
}
.linna-loading-10 .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-linna-transform: rotate(60deg);
	transform: rotate(60deg);
}
.linna-loading-10 .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-linna-transform: rotate(90deg);
	transform: rotate(90deg);
}
.linna-loading-10 .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-linna-transform: rotate(120deg);
	transform: rotate(120deg);
}
.linna-loading-10 .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-linna-transform: rotate(150deg);
	transform: rotate(150deg);
}
.linna-loading-10 .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-linna-transform: rotate(180deg);
	transform: rotate(180deg);
}
.linna-loading-10 .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-linna-transform: rotate(210deg);
	transform: rotate(210deg);
}
.linna-loading-10 .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-linna-transform: rotate(240deg);
	transform: rotate(240deg);
}
.linna-loading-10 .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-linna-transform: rotate(270deg);
	transform: rotate(270deg);
}
.linna-loading-10 .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-linna-transform: rotate(300deg);
	transform: rotate(300deg);
}
.linna-loading-10 .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-linna-transform: rotate(330deg);
	transform: rotate(330deg);
}
.linna-loading-10 .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.linna-loading-10 .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.linna-loading-10 .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.linna-loading-10 .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.linna-loading-10 .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.linna-loading-10 .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.linna-loading-10 .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.linna-loading-10 .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.linna-loading-10 .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.linna-loading-10 .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.linna-loading-10 .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes linna-loading-10 {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
}

@keyframes linna-loading-10 {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
}

.linna-loading-11 {
	width: 60px;
	height: 60px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.linna-loading-11 .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-linna-transform: scale(1.1);
	transform: scale(1.1);
}
.linna-loading-11 .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-animation: linna-loading-11 2.4s infinite linear both;
	animation: linna-loading-11 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-linna-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.linna-loading-11 .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.linna-loading-11 .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.linna-loading-11 .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.linna-loading-11 .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.linna-loading-11 .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.linna-loading-11 .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes linna-loading-11 {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
		    -webkit-transform: perspective(140px) rotateY(180deg);
		    transform: perspective(140px) rotateY(180deg);
		    opacity: 0;
	    }
}

@keyframes linna-loading-11 {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
		    -webkit-transform: perspective(140px) rotateY(180deg);
		    transform: perspective(140px) rotateY(180deg);
		    opacity: 0;
	    }
}

.linna-loading-12 {
	width: 72px;
	height: 40px;
}
.linna-loading-12 span {
	display: block;
	background: #fff;
	width: 3px;
	height: 10%;
	border-radius: 14px;
	margin-right: 5px;
	float: left;
	margin-top: 25%;
}
.linna-loading-12 span:last-child {
	margin-right: 0;
}
.linna-loading-12 span:nth-child(1) {
	animation: linna-loading-12 1.1s 0.8s infinite linear;
}
.linna-loading-12 span:nth-child(2) {
	animation: linna-loading-12 1.1s 0.6s infinite linear;
}
.linna-loading-12 span:nth-child(3) {
	animation: linna-loading-12 1.1s 0.4s infinite linear;
}
.linna-loading-12 span:nth-child(4) {
	animation: linna-loading-12 1.1s 0.2s infinite linear;
}
.linna-loading-12 span:nth-child(5) {
	animation: linna-loading-12 1.1s 0s infinite linear;
}
.linna-loading-12 span:nth-child(6) {
	animation: linna-loading-12 1.1s 0.2s infinite linear;
}
.linna-loading-12 span:nth-child(7) {
	animation: linna-loading-12 1.1s 0.4s infinite linear;
}
.linna-loading-12 span:nth-child(8) {
	animation: linna-loading-12 1.1s 0.6s infinite linear;
}
.linna-loading-12 span:nth-child(9) {
	animation: linna-loading-12 1.1s 0.8s infinite linear;
}

@keyframes linna-loading-12 {
	0% {
		margin-top: 25%;
		height: 10%;
	}
	50% {
		height: 100%;
		margin-top: 0%;
	}
	100% {
		height: 10%;
		margin-top: 25%;
	}
}
